* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  /* padding: 7em; */
}

#container {
  height: 100%;
  position: relative;
}

#graph-container {
  height: 100%;
}

:root {
  --main-color: #b3a5f7;
  --zoom-scale: 1;
}
