.link-deletion-prompt {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: var(--main-color);
  color: white;
}

/* .link-deletion-prompt > :first-child {
  align-self: flex-end;
  border: 1px solid white;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  padding: .2em;
} */

.link-deletion-prompt > :last-child {
  border: 1px solid white;
  cursor: pointer;
  padding: .3em;
  font-size: .8em;
}
