/* Stylesheets loaded by @use are called "modules". */

@use "@material/icon-button/styles";

.material-icons {
  font-size: 20px !important;
}


.material-icons.md-inactive { 
  color: rgba(0, 0, 0, 0.26); 
  cursor: not-allowed;
}


.mdc-icon-button {
  width: 30px;
  height: 30px;
  padding: 3px;
}
