* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 3em;
}

#container {
  position: relative;
}

#graph-container {
  height: 90vh;
  border: 1px solid blue;
}

/* TODO: animations for nodecards */
.nodecard {
  z-index: 2990;
  position: absolute;
  /*rgb(96,2,238) -> #6002EE*/
  box-shadow: 0 4px 8px 0 rgba(96, 2, 238), 0 6px 20px 0 rgba(96, 2, 238);
  border-radius: 2px;
}

.button-bar {
  display: flex;
  justify-content: space-between;
  background-color: #e9e6ed;
  padding: 0;
  padding-top: 6px;
}
