.nodecard > .editor {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  height: 20em;
  width: 30em;
  background-color: #e9e6ed;
  color: #2d2c2e;
  border-radius: 2px;
  padding: 10px;
  padding-bottom: 0;
}

.nodecard > .editor > .editor__input {
  font-family: Times, "Times New Roman", Georgia, serif;
  height: 16em;
  background-color: #f4f4f4;
}

.nodecard > .editor > .editor__input > textarea {
  resize: none;
  border: 0;
  font-family: Times, "Times New Roman", Georgia, serif;
    font-size: 13px;
  height: 16em;
  width: 28em;
  color: #2d2c2e; /* font color */
  background-color: #f4f4f4;
  overflow: -moz-scrollbars-none; /* hide scrollbar without disabling scroll in Firefox */
}

.nodecard > .editor > .editor__input > textarea:focus {
  outline: none;
}

/* hide scrollbar without disabling scroll in Chrome */
.nodecard >.editor >.editor__input > textarea::-webkit-scrollbar {
  width: 0 !important
}
