.nodecard > .editor {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 200px;
  background-color: #e9e6ed;
  color: #2d2c2e;
  border-radius: 2px;
  padding: 10px;
  padding-bottom: 0;
}

.nodecard > .editor > .editor__input {
  font-family: "Source Sans Pro", sans-serif;
  height: 150px;
  background-color: #f4f4f4;
}

.nodecard > .editor > .editor__input > textarea {
  resize: none;
  height: 150px;
  width: 180px;
  border: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 13px;
  color: #2d2c2e; /* font color */
  background-color: #f4f4f4;
}

.nodecard > .editor > .editor__input > textarea:focus {
  outline: none;
}
